- public_project_count = ProjectsFinder.new(current_user: current_user).execute.count

.blank-state-row
  - if current_user.can_create_project?
    = link_to new_project_path, class: "blank-state-link" do
      .blank-state
        .blank-state-icon
          = custom_icon("add_new_project", size: 50)
        .blank-state-body
          %h3.blank-state-title
            创建项目
          %p.blank-state-text
            项目可供您存储代码、访问问题、维基或者 开源工业互联网平台 的其它特性。
  - else
    .blank-state
      .blank-state-icon
        = custom_icon("add_new_project", size: 50)
      .blank-state-body
        %h3.blank-state-title
          创建项目
        %p.blank-state-text
          如果您加入了项目，它将会显示在这里。

  - if current_user.can_create_group?
    = link_to new_group_path, class: "blank-state-link" do
      .blank-state
        .blank-state-icon
          = custom_icon("add_new_group", size: 50)
        .blank-state-body
          %h3.blank-state-title
            创建群组
          %p.blank-state-text
            群组是管理项目和成员的最佳方式。

  - if public_project_count > 0
    = link_to trending_explore_projects_path, class: "blank-state-link" do
      .blank-state
        .blank-state-icon
          = custom_icon("globe", size: 50)
        .blank-state-body
          %h3.blank-state-title
            浏览公共项目
          %p.blank-state-text
            此服务器上有
            = number_with_delimiter(public_project_count)
            个公开项目。
            公开项目允许全部人都可以只读访问。
