%h3.page-title
  = @service.title

%p #{@service.description} template.

= form_for :service, url: admin_application_settings_service_path, method: :put, html: { class: 'fieldset-form' } do |form|
  = render 'shared/service_settings', form: form, subject: @service

  - unless @service.is_a?(KubernetesService)
    .footer-block.row-content-block
      = form.submit '保存', class: 'btn btn-success'
