// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cover{
  min-height: 450px;
  background: image-url('openii/home-cover.jpg') center center;
  background-size: cover;
  position: relative;
  .navigation {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    position: fixed;
    width: 100%;
    z-index: 999;
    .header-content {
      line-height: 42px;
      height: 42px;
    }
  }
}
headerx {
  padding: 15px 0;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
  position: relative;
  width: 1170px;
  margin: 0 auto;
  -webkit-transition: padding 300ms ease-in-out;
  transition: padding 300ms ease-in-out;
  .header-nav {
    display: inline-block;
  }
  ul.primary-nav {
    margin: 0 0 0 75px;
    padding: 0;
    list-style: none;
    li {
      display: inline;
      list-style: none;
      a {
        color: #fff;
        padding-right: 25px;
      }
    }
  }
  a {
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
  }
}
.home-nav{
  background-color: #232731 !important;
  position: relative;
  min-height:60px;
  @media(max-width: map-get($grid-breakpoints, md) - 1) {
    padding-right: 0;
    padding-left: 0;
    min-height:40px;
  }
  .navbar-sub-nav{
    margin: 0 0 0 7px;
    @media(max-width: 991px) {
      display: flex;
      justify-content: space-between;
      flex: 1;
      .menu-li{
        &.center{
          flex:1
        }
      }
    }
    a.nav-toggle{
      margin:0;
      height:100%;
    }

    .nav-link{
      font-size:14px;
      font-weight: 300;
      padding: 10px 15px;
      margin: 5px 0;
      line-height: 30px;
      height:48px;
      color: #fff;
      @media(max-width: map-get($grid-breakpoints, md) - 1) {
        padding: 6px 10px;
        height:unset;
      }
    }
  }
  .container-fluid {
    .navbar-toggler {
      @media(max-width: map-get($grid-breakpoints, md) - 1) {
        right: -8px;
      }
    }
  }
}
.header-more{
  width: 32px;
  .nav-toggle{
    background-color: transparent;
    span, span:before,span:after{
      content: "";
      position: absolute;
      display: block;
      width: 18px;
      height: 2px;
      border-radius: 1px;
      background: #fff;
      cursor: pointer;
      -webkit-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
    }
    span:before{
      top: -7px;
    }
    span:after{
      bottom: -7px;
    }
  }
  .nav-toggle:focus,.nav-toggle:hover,.nav-toggle:active {
    outline: none;
    background-color: transparent !important;
  }
}

.nav-toggle.active{
  span {
    background-color: transparent;
  }
  .active span:before, .active span:after {
    top: 0;
  }
  span:before {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  span:after {
    top: 10px;
    -ms-transform: translatey(-10px) rotate(-45deg);
    -webkit-transform: translatey(-10px) rotate(-45deg);
    transform: translatey(-10px) rotate(-45deg);
  }
}
.tech{
  margin-top:30px;
  h3{
    font-size: 26px;
    line-height: 36px;
    font-weight: 300;
    color: #676767;
    margin: 15px 0 0;
    @media(max-width: map-get($grid-breakpoints, md) - 1) {
      margin: 0;
      font-size:19px;
      line-height: 24px;
    }
  }
  .tech-container{
    margin: 0 auto;
  }
  .tech-item{
    margin: 30px auto 0 auto;
    @media(max-width: map-get($grid-breakpoints, md) - 1) {
      margin: 20px 10px 0;
    }
    h4{
      color: #676767;
      font-size:18px;
      font-weight: 500;
    }
    .flag{
      max-width: 180px;
      margin: 0 auto;
    }
    .flag-logo {

      display: table-cell;
      vertical-align: middle;
      text-align:center;
      img{
        max-width:180px;
        min-width: 72px;
      }
      .img-responsive{
        display: block;
        max-width: 100%;
        height: auto;
      }
    }
  }
}
.sln{
  h3{
    font-size: 26px;
    line-height: 36px;
    font-weight: 300;
    color: #676767;
    margin: 30px 30px 5px;
    &.sln-title{
      color:#323232;
      @media(max-width: map-get($grid-breakpoints, md) - 1) {
        font-size:20px;
        line-height: 26px;
        margin: 20px 0 0;
      }
    }
    &.sln-detail{
      font-size: 22px;
      margin: 15px 100px 5px;
      @media(max-width: map-get($grid-breakpoints, md) - 1) {
        font-size:17px;
        line-height: 24px;
        margin: 15px 0 0;
      }
    }
  }
  .sln-container{
    margin: 0 auto;
  }
  .sln-architecture{
    margin: 20px auto 0 auto;
    text-align: center;
    img{
      max-width: 100%;
    }
    .img-responsive{
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
}
.os-project{
  margin-top: 30px;
  h3{
    font-size: 26px;
    line-height: 36px;
    font-weight: 300;
    color: #676767;
    margin: 15px 30px 5px;
    @media(max-width: map-get($grid-breakpoints, md) - 1) {
      font-size:20px;
      margin-bottom: -10px;
      line-height: 28px;
      margin-left:-5px;
      margin-right:-5px;
    }
  }
  .os-container{
    margin: 0 auto;
    .content{
      margin-top:10px;
    }
  }
  .os-item{
    margin: 30px auto 0 auto;
    .os-logo{
      text-align: center;
      margin: 0 auto;
      border: solid 1px #c7c7c7;
      img{
          width:100%;
      }
      .img-responsive{
        display: block;
        max-width: 100%;
        height: auto;
      }
    }

    h4{
      color: #676767;
      font-size:18px;
      font-weight: 500;
    }
    .content{

    }
  }
}
.home-jumbotron {
  color: white;
  position: relative;
  text-align: center;
  padding: 0;
  border-radius: 0;
  background-image: image-url('openii/home-cover.jpg');
  background-repeat: no-repeat;
  @media(max-width: map-get($grid-breakpoints, md) - 1) {
    padding-top: 6px;
    padding-bottom: 12px;
    margin-bottom: 0;
    background-position-x: right;
  }
  .home-banner-container{
    padding: 40px 15px 50px;
    @media(max-width: map-get($grid-breakpoints, md) - 1) {
      padding: 0 10px;
    }
  }
}
.site-name{
  color: #fff;
  margin-bottom: 30px;
  margin-top: 10px;
  font-weight: 500;
  font-size:30px !important;
  @media(max-width: map-get($grid-breakpoints, md)) {
    font-size:22px !important;
  }
  @media(max-width: map-get($grid-breakpoints, sm) - 1) {
    font-size: 21px !important;
    margin-top: 5px;
    margin-bottom: 15px;
  }
}
.home-page .site-name-holder{
  display: flex;
  margin: 0 auto;
  align-items: center;
  max-width: 1000px;
  .brand-holder{
    padding: 0;
  }
}
.subtitle p{
  color: #fefefe !important;
  line-height: 22px;
  font-size: 15px !important;
  font-weight: 300;
  @media(min-width: map-get($grid-breakpoints, md)) {
    font-size:18px !important;
    line-height: 26px;
    margin-bottom: 0;
  }
}
.home-index{
  .navbar-gitlab{
    border:none;
  }
}
.btn-panel{
  margin-top: 20px;
  @media(max-width: map-get($grid-breakpoints, md) - 1) {
    margin-top: 0;
  }
  .btn{
    margin: 0;
    margin-top: 30px;
    font-weight: 400;
    width:200px;
    border:none;
    background-color: #e65328;
    color: #fff;
    padding: .8em 1.25em;
    font-size: 18px;
    @media(max-width: map-get($grid-breakpoints, md) - 1) {
      font-size: 16px;
    }
  }
}
.features{
  .feature-container{
    margin-top:30px;
  }
  .feature-item{
    margin-top:30px;
    .icon img{
      max-width:128px;
      min-width: 72px;
    }
    h3{
      @media(max-width: map-get($grid-breakpoints, md) - 1) {
        font-size: 1.375em;
      }
    }
  }
  .git-title{
    font-size: 26px;
    line-height: 36px;
    font-weight: 300;
    color: #676767;
    margin: 8px 30px;
    @media(max-width: map-get($grid-breakpoints, md) - 1) {
      font-size:20px;
      line-height: 28px;
      margin-left:-5px;
      margin-right:-5px;
    }
  }
}
.hline{
  margin-top: 3rem;
  margin-bottom: 3rem;
  background: #fff;
  @media(max-width: map-get($grid-breakpoints, md) - 1) {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
.home-footer{
  padding: 0.25rem 15px 3.5rem 15px;
  background: #fff;
}
.x-footer{
  background: #ffffff;
  min-height: 29px;
  clear: both;
  margin: 0;
  outline: 0;
  font-size: 14px;
  .x-shell{
    max-width: 980px;
    margin: auto;
    clear: both;
  }
  .x-link-bar {
    padding: 6px 0 9px;
    text-align: center;
    a {
      color: #787775;
      margin: 0 10px;
    }
  }
  .x-copyright {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color: #787775;
    a {
      color: #787775;
    }
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
.navbar-gitlab {

  .header-content {
    @media(min-width: map-get($grid-breakpoints, md)) {
      padding-left: 15px;
    }
    .title {
      a{
        margin: 3px 10px 3px -8px;
        padding: 0;
        border-radius: 0;
        @media(max-width: map-get($grid-breakpoints, md)) {
          margin: 3px 10px 2px -8px;
        }
      }
      img.home-logo {
        height: 48px;
        @media(max-width: map-get($grid-breakpoints, md) - 1) {
          height: 39px;
        }
      }
    }
  }
}
.home-nav .btn-sign-in{
  margin: 0;
}

@media(max-width: map-get($grid-breakpoints, md) - 1) {
  .home-nav .navbar-sub-nav {
    li {
      a {
        padding: 10px 0 10px 15px;
      }
      a.nav-toggle{
        padding: 5px;
      }
    }
  }
  .home-nav .menu-li{
    height: 42px;
  }
  .home-nav .btn-sign-in{
    margin: 4px 0 4px 2px;
  }
  .home-page .subtitle span{
    display: none;
  }
}
