/* for openii site */
.openii-sign{
  .brand-holder{
    h1:first-child{
      @media(max-width: map-get($grid-breakpoints, sm) - 1) {
        margin-top: 20px;
        font-size: 24px;
        text-align: center;
      }
    }
  }
}
