= form_for @application_setting, url: network_admin_application_settings_path(anchor: 'js-outbound-settings'), html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group
      .form-check
        = f.check_box :allow_local_requests_from_hooks_and_services, class: 'form-check-input'
        = f.label :allow_local_requests_from_hooks_and_services, class: 'form-check-label' do
          允许钩子和服务访问本地网络

    .form-group
      .form-check
        = f.check_box :dns_rebinding_protection_enabled, class: 'form-check-input'
        = f.label :dns_rebinding_protection_enabled, class: 'form-check-label' do
          = _('Enforce DNS rebinding attack protection')
        %span.form-text.text-muted
          = _('Resolves IP addresses once and uses them to submit requests')

  = f.submit '保存修改', class: "btn btn-success"
