%ul.list-unstyled.navbar-sub-nav
  = nav_link(controller: ['root/index'], html_options: { class: "d-none d-lg-block d-xl-block menu-li" }) do
    = link_to "https://cloud.openii.cn", class: 'nav-link', title: '云计算' do
      云计算

  = nav_link(controller: ['root/index'], html_options: { class: "d-none d-lg-block d-xl-block menu-li" }) do
    = link_to "https://ai.openii.cn", class: 'nav-link', title: '人工智能' do
      人工智能

  = nav_link(controller: ['root/index'], html_options: { class: "d-none d-lg-block d-xl-block menu-li" }) do
    = link_to "https://bigdata.openii.cn", class: 'nav-link', title: '大数据' do
      大数据

  = nav_link(controller: ['root/index'], html_options: { class: "d-none d-lg-block d-xl-block menu-li" }) do
    = link_to "https://digitaltwin.openii.cn", class: 'nav-link', title: '数字孪生体' do
      数字孪生体
  %li.menu-li.center
  %li.header-more.dropdown.d-lg-none.d-xl-none<
    %a{ href: "#", class:"nav-toggle", data: { toggle: "dropdown" } }<
      %span
    .dropdown-menu
      %ul
        - if dashboard_nav_link?(:groups)
          = nav_link(controller: ['root/index']) do
            = link_to "https://cloud.openii.cn", class: '', title: '云计算' do
              云计算

        - if dashboard_nav_link?(:activity)
          = nav_link(controller: ['root/index']) do
            = link_to "https://ai.openii.cn", title: '人工智能' do
              人工智能

        - if dashboard_nav_link?(:milestones)
          = nav_link(controller: ['root/index']) do
            = link_to "https://bigdata.openii.cn", class: '', title: '大数据' do
              大数据

        - if dashboard_nav_link?(:snippets)
          = nav_link(controller: ['root/index']) do
            = link_to "https://digitaltwin.openii.cn", class: '', title: '数字孪生体' do
              数字孪生体
