- form = local_assigns.fetch(:f)
- commits = local_assigns[:commits]
- project = @target_project || @project
- presenter = local_assigns.fetch(:presenter, nil)

= form_errors(issuable)

- if @conflict
  .alert.alert-danger
    有人与您同时编辑了 #{issuable.class.model_name.human.downcase} 这个问题，请检出
    Please check out
    = link_to "这个问题 #{issuable.class.model_name.human.downcase}", polymorphic_path([@project.namespace.becomes(Namespace), @project, issuable]), target: "_blank", rel: 'noopener noreferrer'
    并确保您不会无意中删除了其他人的更改。

.form-group.row
  = form.label :title, class: 'col-form-label col-sm-2'

  = render 'shared/issuable/form/template_selector', issuable: issuable
  = render 'shared/issuable/form/title', issuable: issuable, form: form, has_wip_commits: commits && commits.detect(&:work_in_progress?)
#js-suggestions{ data: { project_path: @project.full_path } }

= render 'shared/form_elements/description', model: issuable, form: form, project: project

- if issuable.respond_to?(:confidential)
  .form-group.row
    .offset-sm-2.col-sm-10
      .form-check
        = form.check_box :confidential, class: 'form-check-input'
        = form.label :confidential, class: 'form-check-label' do
          此问题是保密的，只对团队成员可见

= render 'shared/issuable/form/metadata', issuable: issuable, form: form

= render_if_exists 'shared/issuable/approvals', issuable: issuable, presenter: presenter, form: form

= render 'shared/issuable/form/branch_chooser', issuable: issuable, form: form

= render 'shared/issuable/form/merge_params', issuable: issuable

= render 'shared/issuable/form/contribution', issuable: issuable, form: form

- if @merge_request_to_resolve_discussions_of
  .form-group.row
    .col-sm-10.offset-sm-2
      = icon('info-circle')
      - if @merge_request_to_resolve_discussions_of.discussions_can_be_resolved_by?(current_user)
        = hidden_field_tag 'merge_request_to_resolve_discussions_of', @merge_request_to_resolve_discussions_of.iid
        - if @discussion_to_resolve
          = hidden_field_tag 'discussion_to_resolve', @discussion_to_resolve.id
          Creating this issue will resolve the thread in
        - else
          Creating this issue will resolve all threads in
        = link_to_discussions_to_resolve(@merge_request_to_resolve_discussions_of, @discussion_to_resolve)
      - else
        The
        = @discussion_to_resolve ? 'thread' : 'threads'
        at
        = link_to_discussions_to_resolve(@merge_request_to_resolve_discussions_of, @discussion_to_resolve)
        will stay unresolved. Ask someone with permission to resolve
        = @discussion_to_resolve ? 'it.' : 'them.'

- is_footer = !(issuable.is_a?(MergeRequest) && issuable.new_record?)
.row-content-block{ class: (is_footer ? "footer-block" : "middle-block") }
  .float-right
    - if issuable.new_record?
      = link_to '取消', polymorphic_path([@project.namespace.becomes(Namespace), @project, issuable.class]), class: 'btn btn-cancel'
    - else
      - if can?(current_user, :"destroy_#{issuable.to_ability_name}", @project)
        = link_to '删除', polymorphic_path([@project.namespace.becomes(Namespace), @project, issuable]), data: { confirm: "确认删除 #{issuable.human_class_name} ？" }, method: :delete, class: 'btn btn-danger btn-grouped'
      = link_to '取消', polymorphic_path([@project.namespace.becomes(Namespace), @project, issuable]), class: 'btn btn-grouped btn-cancel'

  %span.append-right-10
    - if issuable.new_record?
      = form.submit "提交 #{issuable.class.model_name.human.downcase}", class: 'btn btn-success qa-issuable-create-button'
    - else
      = form.submit '保存修改', class: 'btn btn-success'

  - if !issuable.persisted? && !issuable.project.empty_repo? && (guide_url = issuable.project.present.contribution_guide_path)
    .inline.prepend-top-10
      请先阅读此项目的
      %strong= link_to('贡献指南', guide_url)
      。

= render_if_exists 'shared/issuable/remove_approver'

= form.hidden_field :lock_version
