= _("Issue was closed by %{name} %{reason}").html_safe % { name: sanitize_name(@updated_by.name), reason: closure_reason_text(@closed_via, format: formats.first) }

问题 ##{@issue.iid}: #{project_issue_url(@issue.project, @issue)}
