- confirmation_link = confirmation_url(@resource, confirmation_token: @token)
- if @resource.unconfirmed_email.present?
  #content
    = email_default_heading(@resource.unconfirmed_email)
    %p 点击下面的链接确认你的电子邮件地址。
    #cta
      = link_to _('Confirm your email address'), confirmation_link
- else
  #content
    - if Gitlab.com?
      = email_default_heading('感谢注册 Gitlab 账号！')
    - else
      = email_default_heading("欢迎你, #{@resource.name}!")
    %p 开始之前，点击下面的链接确认你的账号。
    #cta
      = link_to _('Confirm your account'), confirmation_link
