= email_default_heading("Hello, #{@resource.name}!")
%p
  有人（希望是您）请求重设你在 开源工业互联网平台 #{link_to(Gitlab.config.gitlab.url, Gitlab.config.gitlab.url)} 账号的密码。
%p
  如果您没有执行此请求，可以安全的忽略此邮件。
%p
  否则，请点击下面的链接完成后续处理。
#cta
  = link_to(_("Reset password"), edit_password_url(@resource, reset_password_token: @token))
