#content
  = email_default_heading("Hello, #{@resource.name}!")
  %p
    由于账号被试图攻击，你的 开源工业互联网平台 账号被锁定。你的账号将在
    #{distance_of_time_in_words(Devise.unlock_in)}
    自动解锁或者点击下面的链接马上解锁你的账号。
  #cta
    = link_to('解锁你的账号', unlock_url(@resource, unlock_token: @token))
