!!! 5
%html{ lang: "en", class: system_message_class }
  = render "layouts/head"
  %body.ui-indigo.login-page.application.navless
    = render "layouts/header/empty"
    = render "layouts/broadcast"
    .container.navless-container
      .content
        = render "layouts/flash"
        = yield

    %hr
    .container
      .footer-links
        = link_to _("Explore"), explore_root_path
