!!! 5
%html.devise-layout-html{ class: system_message_class }
  = render "layouts/head"
  %body.ui-indigo.login-page.application.navless{ data: { page: body_data_page, qa_selector: 'login_page' } }
    = header_message
    .page-wrap
      = render "layouts/header/empty"
      .login-page-broadcast
        = render "layouts/broadcast"
      .container.navless-container
        .content
          = render "layouts/flash"
          .row.mt-3
            .col-sm-12
              %h1.mb-3.font-weight-normal
                = brand_title
          .row.mb-3
            .col-sm-7.order-12.order-sm-1.brand-holder
              = brand_image
              - if current_appearance&.description?
                = brand_text
              - else
                %h3.mt-sm-0
                  = _('Open source software to collaborate on code')

                %p
                  = _('Manage Git repositories with fine-grained access controls that keep your code secure. Perform code reviews and enhance collaboration with merge requests. Each project can also have an issue tracker and a wiki.')

              - if Gitlab::CurrentSettings.sign_in_text.present?
                = markdown_field(Gitlab::CurrentSettings.current_application_settings, :sign_in_text)

              = render_if_exists 'layouts/devise_help_text'

            .col-sm-5.order-1.order-sm-12.new-session-forms-container
              = yield

      %hr.footer-fixed
      .container.footer-container
        .footer-links
          = link_to _("Explore"), explore_root_path
