!!! 5
%html.devise-layout-html{ class: system_message_class }
  = render "layouts/head"
  %body{ class:"#{user_application_theme} home-page application navless", data: { page: body_data_page } }
    = image_tag asset_url('openii-weixin.png'), alt:"", width: 0, height:0, style: "display:block;", lazy:false
    .page-wrap.home-index
      = render "layouts/init_auto_complete" if @gfm_form
      = render "layouts/header/home"
      .sln
        .container.sln-container
          .row
            .col-md-12
              %h3.text-center.sln-title
                = "开源工业互联网参考方案"
          .row
            .col-md-12
              .sln-architecture
                = image_tag "openii/ii-opensource.png", alt:"", class:"img-response"
          .row
            .col-md-12
              %h3.text-center.sln-detail
                = "开源工业互联网平台提供针对AII参考架构各层级的开源解决方案，企业可根据自己的实际逐步构建自己的工业互联网平台。"
      .tech
        .container
          .row
            .col-md-12
              %h3.text-center
                = "开源工业互联网四大杀手级方案"
          .row
            .col-md-3
              .tech-item
                .flag.text-center
                  .flag-logo
                    %a{ target:"_blank", href:"https://cloud.openii.cn" }
                      = image_tag "openii/flag-cloud.jpg", alt:"", class:"img-responsive"
                %a{ target:"_blank", href:"https://cloud.openii.cn" }
                  %h4.text-center
                    = "云计算"
                .brief.text-muted.text-justify
                  = "提供Innobase Cloud Private的私有云解决方案，可以为企业构建低成本的私有云平台，确保数据的可控性，为进一步数字化提供可能。"
            .col-md-3
              .tech-item
                .flag.text-center
                  .flag-logo
                    %a{ target:"_blank", href:"https://ai.openii.cn" }
                      = image_tag "openii/flag-ai.jpg", alt:"", class:"img-responsive"
                %a{ target:"_blank", href:"https://ai.openii.cn" }
                  %h4.text-center
                    = "人工智能"
                .brief.text-muted.text-justify
                  = "利用主流人工智能框架和开源项目，快速搭建一套工业级深度学习体系，企业可以根据制造或业务需求，开发适合实际需要的工业级人工智能。"
            .col-md-3
              .tech-item
                .flag.text-center
                  .flag-logo
                    %a{ target:"_blank", href:"https://bigdata.openii.cn" }
                      = image_tag "openii/flag-bigdata.jpg", alt:"", class:"img-responsive"
                %a{ target:"_blank", href:"https://bigdata.openii.cn" }
                  %h4.text-center
                    = "大数据"
                .brief.text-muted.text-justify
                  = "利用开源工业互联网平台上的大数据相关开源项目，结合到开源私有云和边缘计算系统，可以快速形成一个具有深度学习能力的工业大数据平台。"
            .col-md-3
              .tech-item
                .flag.text-center
                  .flag-logo
                    %a{ target:"_blank", href:"https://digitaltwin.openii.cn" }
                      = image_tag "openii/flag-digitaltwin.jpg", alt:"", class:"img-responsive"
                %a{ target:"_blank", href:"https://digitaltwin.openii.cn" }
                  %h4.text-center
                    = "数字孪生体"
                .brief.text-muted.text-justify
                  = "利用物理模型，集成多学科、多物理量、多尺度、多概率的仿真过程，在虚拟空间中完成映射，从而反映相对应的实体装备的全生命周期过程。"

      .os-project
        .container.os-container
          .row
            .col-md-12
              %h3.text-center
                = "开源项目推荐"
          .row
            .col-md-4
              .os-item
                .os-logo.text-center
                  .logo
                    %a{ target:"_blank", href:"https://www.openstack.org/" }
                      = image_tag "openii/os-openstack.jpg", alt:"", class:"img-responsive"
                %a{ target:"_blank", href:"https://openii.cn/openstack" }
                  %h4.text-center
                    = "OpenStack"
                .content.text-muted
                  = "OpenStack是一个旨在为公共及私有云的建设与管理提供软件的开源项目，提供了一个实施简单、可大规模扩展、标准统一的云计算管理平台，提供了基础设施即服务（IaaS）的解决方案。"
            .col-md-4
              .os-item
                .os-logo.text-center
                  .logo
                    %a{ target:"_blank", href:"https://kubernetes.io/" }
                      = image_tag "openii/os-kubernetes.jpg", alt:"", class:"img-responsive"
                %a{ target:"_blank", href:"https://openii.cn/kubernetes" }
                  %h4.text-center
                    = "Kubernetes"
                .content.text-muted
                  = "Kubernetes是一个开源的，用于管理云平台主机上的容器的应用，Kubernetes的目标是让部署容器化的应用简单并且高效，Kubernetes提供了应用部署，规划，更新，维护的统一机制。"
            .col-md-4
              .os-item
                .os-logo.text-center
                  .logo
                    %a{ target:"_blank", href:"https://www.openshift.com/" }
                      = image_tag "openii/os-openshift.jpg", alt:"", class:"img-responsive"
                %a{ target:"_blank", href:"https://openii.cn/okd" }
                  %h4.text-center
                    = "OpenShift"
                .content.text-muted
                  = "OpenShift是一个面向开源开发人员开放的平台即服务(PaaS)。OpenShift通过为开发人员提供在语言、框架和云上的更多的选择，使开发人员可以构建、测试、运行和管理他们的应用。"
          .row
            .col-md-4
              .os-item
                .os-logo.text-center
                  .logo
                    %a{ target:"_blank", href:"https://ceph.io/" }
                      = image_tag "openii/os-ceph.jpg", alt:"", class:"img-responsive"
                %a{ target:"_blank", href:"https://openii.cn/ceph" }
                  %h4.text-center
                    = "Ceph"
                .content.text-muted
                  = "Ceph是一种为优秀的性能、可靠性和可扩展性而设计的统一的、分布式的存储系统。由于Ceph的良好设计，使得它不存在传统的单点故障的问题，且随着规模的扩大性能并不会受到影响。"
            .col-md-4
              .os-item
                .os-logo.text-center
                  .logo
                    %a{ target:"_blank", href:"http://hadoop.apache.org/" }
                      = image_tag "openii/os-hadoop.png", alt:"", class:"img-responsive"
                %a{ target:"_blank", href:"http://openii.cn/hadoop" }
                  %h4.text-center
                    = "Hadoop"
                .content.text-muted
                  = "Hadoop实现了一个分布式文件系统（Hadoop Distributed File System），简称HDFS。HDFS有高容错特性，可部署在低成本的硬件上，提供高吞吐量数据，适合那些有着超大数据集的系统。"
            .col-md-4
              .os-item
                .os-logo.text-center
                  .logo
                    %a{ target:"_blank", href:"https://www.zephyrproject.org/" }
                      = image_tag "openii/os-zephyr.jpg", alt:"", class:"img-responsive"
                %a{ target:"_blank", href:"https://openii.cn/zephyr" }
                  %h4.text-center
                    = "Zephyr"
                .content.text-muted
                  = "Zephyr的目标是构建一个针对资源受限设备的小型、可裁剪的实时操作系统(RTOS)，支持多种硬件架构，可以在小至8kB内存的系统上运行。Zephyr项目非常适合构建简单的传感器网络、可穿戴设备以及小型物联网网关。"
          .row
            .col-md-4
              .os-item
                .os-logo.text-center
                  .logo
                    %a{ target:"_blank", href:"https://tensorflow.google.cn/" }
                      = image_tag "openii/os-tensorflow.jpg", alt:"", class:"img-responsive"
                %a{ target:"_blank", href:"https://openii.cn/tensorflow" }
                  %h4.text-center
                    = "Tensorflow"
                .content.text-muted
                  = "TensorFlow是谷歌旗下的开源人工智能框架，提供一个使用数据流图的数值计算库，可在单/多颗CPU或GPU系统甚至移动设备上运行。TensorFlow可被用于语音识别或图像识别等多项机器深度学习领域。"
            .col-md-4
              .os-item
                .os-logo.text-center
                  .logo
                    %a{ target:"_blank", href:"https://pytorch.org/" }
                      = image_tag "openii/os-pytorch.jpg", alt:"", class:"img-responsive"
                %a{ target:"_blank", href:"https://openii.cn/pytorch" }
                  %h4.text-center
                    = "PyTorch"
                .content.text-muted
                  = "Pytorch是torch的python版本，是由Facebook开源的神经网络框架。与Tensorflow的静态计算图不同，pytorch的计算图是动态的，可以根据计算需要实时改变计算图。"
            .col-md-4
              .os-item
                .os-logo.text-center
                  .logo
                    %a{ target:"_blank", href:"https://www.edgexfoundry.org/" }
                      = image_tag "openii/os-edgexfoundry.png", alt:"", class:"img-responsive"
                %a{ target:"_blank", href:"https://openii.cn/edgex" }
                  %h4.text-center
                    = "Edgex Foundry"
                .content.text-muted
                  = "EdgeX Foundry是Linux基金会发布了一个开源物联网边缘计算项目。它是一个简单的互操作性框架，独立于操作系统，支持任何硬件和应用程序，促进设备、应用程序和云平台之间的连接。"
      .features
        .container.feature-container
          %hr.hline
          .row
            .col-md-12
              .git-title.text-center
                = "为开发者提供稳定、高效、安全的软件开发协作平台"
          .row
            .col-md-4.text-center
              .feature-item
                .icon
                  = image_tag "openii/home-stack.png", alt:"", class:"icon-home-stack"
                %h3
                  = "项目管理"
                .content.text-muted
                  = "最为流行的 Git 管理，提供代码审核、Bug 跟踪等功能，提供 CI/CD 功能"
            .col-md-4.text-center
              .feature-item
                .icon
                  = image_tag "openii/home-team.png", alt:"", class:"icon-home-team"
                %h3
                  = "团队协作"
                .content.text-muted
                  = "轻量级项目管理工具，提供需求、任务、议题跟踪功能，提供看板管理功能"
            .col-md-4.text-center
              .feature-item
                .icon
                  = image_tag "openii/home-stats.png", alt:"", class:"icon-home-stats"
                %h3
                  = "质量评估"
                .content.text-muted
                  = "分析项目源码，直观了解代码质量，提供依赖扫描、代码安全扫描功能"

      .container.home-footer
        %hr.hline
        .x-footer
          .x-shell.clearfix
            .x-link-bar
              = link_to "工业4.0研究院", "http://www.innobase.cn", {target: "_blank"}
              = " | "
              = link_to "开源工业互联网联盟", "http://www.openiiconsortium.com", {target: "_blank"}
              = " | "
              = link_to "工业4.0创新平台", "https://www.innovation4.cn", {target: "_blank"}
              = " | "
              = link_to "工业互联网创新中心", "https://www.iireadiness.com/", {target: "_blank"}
            .x-copyright
              = "开源工业互联网平台 版权所有 All Rights Reserved, Copyright© 2013-2020 "
              %a{ href: "http://www.miitbeian.gov.cn/", target: "_blank"}
                = "京ICP备14017844号-8"

    %script{:type => "text/javascript", :src => "https://res.wx.qq.com/open/js/jweixin-1.2.0.js"}
    :javascript
      function initWeiXin(optoins) {
          wx.config(optoins.config);
          wx.error(function (res) {
            console.log("接口验证失败，详细信息：\n" + JSON.stringify(res));
          });
          wx.ready(function () {
            wx.onMenuShareTimeline({
              title: optoins.shareItem.title, // 分享标题
              desc: optoins.shareItem.desc, // 分享描述
              link: optoins.shareItem.link, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
              imgUrl: optoins.shareItem.imgUrl, // 分享图标
              success: optoins.shareItem.success,
              cancel: optoins.shareItem.cancel
            });
            wx.onMenuShareAppMessage({
                title: optoins.shareItem.title, // 分享标题
                desc: optoins.shareItem.desc, // 分享描述
                link: optoins.shareItem.link, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                imgUrl: optoins.shareItem.imgUrl, // 分享图标
                //type: '', // 分享类型,music、video或link，不填默认为link
                //dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                success: optoins.shareItem.success,
                cancel: optoins.shareItem.cancel
            });
            wx.onMenuShareQQ({
                title: optoins.shareItem.title, // 分享标题
                desc: optoins.shareItem.desc, // 分享描述
                link: optoins.shareItem.link, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                imgUrl: optoins.shareItem.imgUrl, // 分享图标
                success: optoins.shareItem.success,
                cancel: optoins.shareItem.cancel
            });
          });
      }
      initWeiXin({
          config: #{getWeixinConfig(2,'')},
          shareItem:{
              title: '开源工业互联网平台', // 分享标题
              desc: "开源工业互联网平台是全球首个针对工业互联网的开源项目管理平台，在“开源工业互联网创新生态倡议”下，以开放包容的颠覆性创新模式帮助中国制造企业实现转型升级的目标。", // 分享描述
              link: document.location.href,
              imgUrl: '#{asset_url('openii-weixin.png')}', // 分享图标
              success: function () {
                  // 用户确认分享后执行的回调函数
              },
              cancel: function () {
                  // 用户取消分享后执行的回调函数
              }
          }
      });
